body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #126da2;
    color: aliceblue;
}

#header{
    height: 60px;
    background-color: #126da2;
}

#footer{
    padding: 3% 0% 3% 2%;
    background-color: #126da2;
}

.subTitle{
    font-size: 30px;
    border-bottom: 1px solid #ffd891;
}

.areaContent{
    padding: 5%;
    color: aliceblue;
}

.textStyle{
    font-size: 1.5rem;
    max-height: inherit;
    position: relative;

}

.mainTitle{
    padding-left: 5%;
}

#title{
    font-size: 5rem;
    text-align: center;
}

#sec1{
    background-color: #126da2;
}
#sec1 .areaContent{
    padding-right: 30%;
}

#sec2{
    background-color: #46a0a0;
    text-align: right;
}
#sec2 .areaContent{
    padding-left: 30%;
}

#sec3{
    background-color: #87c4a5;
}
#sec3 .areaContent{
    padding-right: 30%;
}

#sec4{
    background-color: #a5daa6;
    text-align: right;
}
#sec4 .areaContent{
    padding-left: 30%;
}

#navBar{
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    top: 0;
    box-shadow: 0px 1px 5px #00000067;
    z-index: 10;
}

#navList{
    float: right;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
}

.listItem{
    padding: 15px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.listItem:hover{
    background-color: rgb(172, 172, 172);
    color: #ffffff;
    cursor: pointer;
}

.section{
    
    height: 100vh;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activeItem{
    background-color: rgb(255, 230, 0);
}

@media screen and (max-width:600px){
    #title{
        font-size: calc(1vw + 1.5rem);
    }

    .textStyle{
        padding: 5%;
        font-size: calc( .5vw + 1rem);
    }

    .listItem{
        font-size:12px;
    }

    #sec1{
        text-align: center;
    }
    #sec1 .areaContent{
        padding: 0;
        padding-top: 10%;
    }

    #sec2{
        text-align: center;
    }
    #sec2 .areaContent{
        padding: 0;
        padding-top: 10%;
    }

    #sec3{
        text-align: center;
    }
    #sec3 .areaContent{
        padding: 0;
        padding-top: 10%;

    }

    #sec4{
        text-align: center;
    }
    #sec4 .areaContent{
        padding: 0;
        padding-top: 10%;

    }

}